/* BODY VE CANVAS */
body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: #2d2b2b; /* koyu arka plan */
}

/* Canvas tüm ekranı kaplasın */
#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}

/* Container üstte */
.container {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  margin-top: 100px;
}

/* Görsel */
.container img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  margin-top: auto;
  background-color: #2d2b2b;
}
.container video {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* tam doldurur */
  display: block;
}

/* Input */
input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 200px;
}

/* Button */
button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Hata mesajı */
#hata {
  color: red;
  margin-top: 10px;
}
